body{
    background-color: beige;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32;
    color: rgb(247, 8, 207);
}

p {
    background-color: brown;
}

section {
    background-color: pink;
}
/*
p id="Question 1" {
    color:red;
}

p id="Question 2" {
    color:blue;
}

p id="Question 3" {
    color:green;
}

p id="Question 4" {
    color:purple;
}
*/